* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.6rem;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar li:hover {
  color: #00f5ff;
  text-shadow: 0 0 10px #00f5ff;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 2rem;
}

h1 {
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  color: white;
}


.spline-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.8rem 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  color: #aaa;
  font-size: 0.9rem;
  z-index: 5;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0 0 6px rgba(0, 255, 255, 0.5);
}