* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.6rem;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar {
    top: 0;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    z-index: 10;
    margin-bottom: 2rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar li {
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar li:hover {
    color: #00f5ff;
    text-shadow: 0 0 10px #00f5ff;
}


.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    position: relative;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
    z-index: 1;
    margin: 2rem 0;
}

h1 {
    font-size: 3.8rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
    color: white;
}

ul.integrantes-list {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 1rem 0;
}

ul.integrantes-list li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

span {
    color: #00f5ff;
    font-weight: 500;
}

.rodape {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    color: #aaa;
    font-size: 0.9rem;
    z-index: 5;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 6px rgba(0, 255, 255, 0.5);
    margin-top: auto;
}