.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.titulo {
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


.container p {
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #f0f0f0;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.botoes {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  z-index: 2;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.8rem 1.8rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 300px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
}


.btn:hover {
  background: rgba(0, 255, 255, 0.15);
  border: 1px solid rgba(0, 255, 255, 0.5);
  transform: scale(1.08);
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7),
    0 0 40px rgba(0, 128, 255, 0.5);
}


